---
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import EditorPlayground from "./EditorPlayground";
import "@avp1598/react-beautiful-editor/dist/Editor.css";
---

<section class="flex h-full flex-col items-center bg-black">
  <Starfield />
  <GitHubCorner />
  <div
    class="gradient-text mb-4 mt-20 transform text-center font-extrabold tracking-tighter text-7xl"
  >
    The last react rich text editor
    <br /> you'll ever need
  </div>
  <div class="my-8 flex flex-col items-center">
    <div class="mx-4 mb-4">
      <button
        class="flex transform flex-row rounded-lg border-[1px] border-slate-800 p-2 transition-all duration-200 ease-in-out hover:bg-slate-800"
        onclick="navigator.clipboard.writeText('yarn add @avp1598/react-beautiful-editor')"
      >
        <code class="text-slate-300"
          >yarn add @avp1598/react-beautiful-editor</code
        >
      </button>
    </div>
    <div class="flex flex-row">
      <a
        href="https://github.com/avp1598/react-beautiful-editor"
        target="_blank"
        class="group relative mb-2 mr-2 inline-flex items-center justify-center overflow-hidden rounded-full bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500 p-0.5 font-medium text-gray-900 text-sm hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300 group-hover:from-purple-600 group-hover:to-blue-500 dark:text-white dark:focus:ring-blue-800"
      >
        <span
          class="relative rounded-full bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
        >
          Get Started
        </span>
      </a>
    </div>
  </div>
  <div
    class="h-full w-full transform overflow-auto rounded-xl bg-fuchsia-500 bg-opacity-0 p-2 text-slate-300 transition-all duration-500 ease-in-out hover:bg-opacity-10 md:h-2/3 md:w-4/5"
  >
    <EditorPlayground client:load />
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
